.chat-panel {
  position: absolute;
  right: 0;
  top: 3.5rem;
  height: calc(100vh - 3.5rem);
  width: 400px;
  background-color: #333;

  .panel-header {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: #28bc9c 0 0.5px 1px;
  }

  .panel-body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: calc(100% - 7.8rem);

    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      height: 90%;
      background: rgba(#111, .8);
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: rgba(#888, .8);
    }

    .msg-group {
      flex-flow: row;
      margin: 1rem;

      .msg-avatar {
        margin-right: 1rem;
        width: 25px;
        height: 25px;
      }

      .msg-name {
        margin-right: 0.5rem;
        color: #28bc9c;
      }

      .msg-content {
        color: #fff;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
      }
    }
  }

  .panel-form {
    .form-group {
      padding: 1rem 1rem 0;
    }
  }
}
