<nav class="nav nav-dark fixed">
  <div class="nav-brand">
    <h5>
      <a href="http://robby570.tw/bikini-bottom-racing/">Bikini-Bottom</a>
    </h5>
  </div>
  <input id="toggler" type="checkbox">
  <label class="nav-toggler" for="toggler">
    <div class="bar"></div>
  </label>
  <div class="nav-collapse">
    <ul>
      <li>
        <a href="http://robby570.tw/bikini-bottom-racing/">Home</a>
      </li>
      <li>
        <a href="https://www.facebook.com/events/331488503991495/permalink/469067673566910/?notif_t=feedback_reaction_generic&notif_id=1533579226179612"
          target="_blank">Facebook</a>
      </li>
      <li>
        <a href=" https://github.com/explooosion/bikini-bottom-racing " target="_blank ">Github</a>
      </li>
    </ul>
  </div>
</nav>
