<nav class="nav nav-dark fixed split-nav">
  <div class="nav-brand">
    <h5>
      <a href="#">Bikini-Bottom</a>
    </h5>
  </div>
  <input id="toggler" type="checkbox">
  <label class="nav-toggler" for="toggler">
    <div class="bar"></div>
  </label>
  <div class="nav-collapse">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Docs</a>
      </li>
      <li>
        <a href="#">Github</a>
      </li>
    </ul>
  </div>
</nav>

<app-map></app-map>

<app-chat-panel></app-chat-panel>
